<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCiLbHBANN0_clFKZu8I0yhy787BN8kqvk</string>
	<key>GCM_SENDER_ID</key>
	<string>226228245618</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.teamc</string>
	<key>PROJECT_ID</key>
	<string>aoharu-f76ae</string>
	<key>STORAGE_BUCKET</key>
	<string>aoharu-f76ae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:226228245618:ios:d87f146f8c5e0956cedeeb</string>
</dict>
</plist>